<?php
/** @var \Nette\Http\Request $request */

use Tracy\Dumper;

if( $request->getMethod() == 'POST') { ?>
	<div class="tracy-inner">
		<div class="tracy-inner-container">
			<h1>POST</h1>
			<?php echo Dumper::toHtml($request->getPost());?>
			<h1 style="margin-top:15px">FILES</h1>
			<?php echo Dumper::toHtml($request->getFiles());?>
			<h1 style="margin-top:15px">HEADERS</h1>
			<?php echo Dumper::toHtml($request->getHeaders());?>
		</div>
	</div>
<?php } ?>